body {
    font-family: "system-ui", sans-serif;
    text-align: center;
}

section {
    text-align: left;
}

img {
    display: block;
    width: 100%;
}

#container-queries {
    container: inline-size;
    max-width: 75rem;
    margin: 0 auto;
}

#container-queries .cards {
    display: grid;
    gap: 1em;
    text-align: center;
}

@container (width > 20em) {
    #container-queries .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@container (width > 40em) {
    #container-queries .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        text-align: left;
    }
}