*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "system-ui", sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
}

:root {
    --container: 75rem;

    --spacing-sm: 0.5rem;
    --spacing-base: 1rem;
    --spacing-lg: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

section>*+* {
    margin-block-start: var(--spacing-base);
}

.not-supported {
    display: none;
}